/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-Mar-2017, 12:48:16
    Author     : jorda
*/
@import url(https://fonts.googleapis.com/css?family=Roboto);

html {
    font-family: "Roboto";
    background-color: lightgrey;
}

ul {
  
    padding: 0;
    text-align: left;
    white-space: nowrap;
    background-color: white;
}

.list {
 background-color: white;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding-bottom: 5px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */


.question {
    text-align: right;
  
    margin-right: 10px;
    color: white;
}

.subQuestionTitle {
    margin-left: 10px;
    font-family: "Roboto", serif;
    font-size: 16px;
    font-weight: bold;
    color: #999;
}

form {
    width: 50%;
    height: 100%;
    
    text-align: center;
}

.page-wrap { 
     width: 50%;
    height: 100%;
    background-color: white;
    vertical-align: middle;
    text-align: center;
    margin-left: 25%;
    padding: 25px;
}

